<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Stay Up to date!</h2>
			<p>
				Follow us in our social media to keep up to date with our latest news.
				Join our Discord server to meet more participants of SoCraTes Crete!
			</p>
		</header>

		<ul class="actions vertical">
			<li><a href="{{site.discord_url}}" target="_blank" class="button fit special">Join Discord</a></li>
			<li><a href="{{ site.mastodon_url }}" target="_blank" class="button fit" rel="me">Our Toots!</a></li>
			<li><a href="{{ site.twitter_url }}" target="_blank" class="button fit" rel="me">Our Tweets!</a></li>
		</ul>
	</div>
</section>
