<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}/">SoCraTes Crete</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							{% for page in site.pages %} {% if page.layout == "default" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
							{% for page in site.pages %} {% if page.layout == "page" %} {% if page.title != "Sponsorships" %}
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endif %} {% endfor %}
							{% for page in site.posts %} 
								<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endfor %}
							<li><a href="https://opencollective.com/socrates-crete" target="_blank">The Collective</a></li>
							<li><a href="https://opencollective.com/socrates-crete/projects/socrates-crete-2023" target="_blank">Finances</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
