<!-- Five -->

<section id="five" class="wrapper style3 special sponsors">
	<div class="inner">

		{% for sponsors in site.data.sponsors.2023%}
			<header class="major">
				<h2>{{ sponsors.type }} Sponsors</h2>
			</header>
			<div class="box alt" >
				<div class="row uniform 50%">
					{{site.sponsors.name }}
					{% for sponsor in sponsors.members %}
						<div class="4u">
							<span class="image">
								<a href="{{sponsor.url}}" target="_blank">
									<img src="{{ '/assets/images/sponsors/2023/' | append: sponsor.image | absolute_url }}" alt="{{ sponsor.name }}" />
								</a>
							</span>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}

	</div>
</section>


<style type="text/css">
	.sponsors img{
		max-height: 200px;
		max-width:100%;
	}
</style>
